on:
  push:
    branches:
      - main
    paths:
      - 'RELEASE'
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
    paths:
      - 'RELEASE'

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: pipe-cd/actions-gh-release@v2.1.0
        with:
          release_file: 'RELEASE'
          token: ${{ secrets.GITHUB_TOKEN }}
